.page-content {
    padding-top: 1rem;
    margin: auto;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-left {
    margin-left: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.text-align-r {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.btn-add-client {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.btn-add-client button{
    padding: .65rem;
}

.position-bottom {
    display: flex;
    align-items: flex-end;
}

.width-50 {
    width: 50%;
    max-width: 50%;
}

